.hero-slide-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  height: 474px;
  width: 100%;
}

#hero-slider .flickity-page-dots {
  position: absolute;
  bottom: 1em;
}

#hero-slider .flickity-page-dots .dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #d8d8d8;
  opacity: 0.6;

  &.is-selected {
    background: _palette(blue);
  }
}

#hero-slider .hero-slide-title {
  position: absolute;
  bottom: 60px;
  left: 120px;
  color: #fff;
  z-index: 5;
}

#hero-slider .hero-slide-title h2 {
  font-weight: 300;
}
