header#hero-page {
  // background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  &.hero-single-container {
    background-position: center;

    .hero-page__content {
      height: 300px;
    }
  }

  .hero-page__content {
    height: 70vh;
    display: flex;

    & .hero-page__title {
      color: _palette(white);
      font-weight: 300;
      margin-bottom: 60px;
    }
  }
}
