<div class="newsletter-wrapper div-with-bg" style="background-image:url('{{ theme.link }}/static/images/emailtofriendbg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-6 justify-content-center align-self-center">
        <div class="newsletter-form">
          <h2 class="mb-0" style="text-transform: inherit">Do you have a colleague who would be
interested in our newsletter?</h2>
          <br>
          <form action="#">
            <div class="input-group mb-3">
              <button style="width: 100%; padding: 16px; 24px; max-width: 200px;" id="button-email" class="btn btn-blue" type="button">EMAIL TO A FRIEND</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>