*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  font-family: _fonts(primary);
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;

  &.fluid {
    width: 100%;
  }
}

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}
