html,
body {
  font-size: 15px;
}

::selection {
  background: _palette(tomato);
}

a {
  text-decoration: none;
  color: _palette(black);
}

p {
  line-height: 1.75em;
}

h1 {
  font-size: 2.1em;
}
h2 {
  font-size: 1.9em;
}
h3 {
  font-size: 1.7em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.3em;
}
h6 {
  font-size: 1.1em;
}

.text-center {
  text-align: center;
}

.blockquote-content {
  font-weight: 600;
  font-style: italic;
}

.blockquote-footer {
  font-size: 12px;
  color: #555;
}

//Digital Detox Retreats
.page-id-210 {
  img {
    margin-bottom: 2em;
  }

  .main-content {
    ul {
      margin: 2em 0;
    }

    ul li {
      margin-bottom: 0.6em;
    }
  }
}

hr {
  margin: 3em 0;
  border: none;
  height: 1px;
  width: 100%;
  background: #ccc;
}
