<header id="hero" class="hero-container" style="background-image: url('{{ Image(background_image).src }}')">
  <div class="hero-table">
    <div class="hero-table-cell container">  
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="hero-content">
              {{ content | default('Empty text') }}
              {% filter shortcodes %}
              [button id="btn-hero" link="#content" text="Explore" class="hero-button"]
              {% endfilter %}
            </div>
          </div>
          <a href="#site-content" class="cove-anchor-link"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</header>