<header id="hero-page" class="hero-container hero-container--page" style="background-image: url('{{ Image(background_image).src }}')">
  <div class="container">
    <div class="row align-items-end">
      <div class="col-lg-12 mt-auto">
        <div class="hero-page__content">
         <h2 class="hero-page__title mt-auto">{{ post.title }}</h2>
        </div>
      </div>
    </div>
  </div>
</header>