#hamburger {
  position: fixed;
  top: 10px;
  right: 0;
  z-index: _layers(site_header);
  background: _palette(black);
  padding: 0.7em;
  display: none;

  @include mq($until: tablet) {
    display: block;
  }
}
