#about-us {
  .section-banner {
    img {
      width: 100%;
      height: 450px;
      object-position: 50% 50%;
      object-fit: cover;
    }
  }

  .about-content {
    padding: 50px 50px 0 50px;
    position: relative;
    top: -120px;
    background-color: #fff;

    @include mq($from: mobile, $until: tablet) {
      padding: 50px 20px 0;
    }

    @include mq($until: mobile) {
      padding: 25px 0;
    }

    h2 {
      font-weight: 600;
      margin-top: 0;
    }

    h5.about-subheadline {
      font-weight: 500;
      color: rgba(0, 0, 0, 0.6);
      font-size: 0.8125rem;
      margin-bottom: 25px;
      text-transform: uppercase;
    }

    p {
      color: #000;
      font-size: 0.9375rem;
      font-weight: 400;
      line-height: 1.75em;
    }

    p span {
      font-weight: 600;
    }

    h4 {
      font-size: 1.375rem;
      margin: 30px 0;
    }
  }
}
