{% block html_head_container %}
	{% include 'html-header.twig' %}
	{{ block('head') }}
	</head>
{% endblock %}

<body class="{{body_class}}" data-template="base.twig" id="top">

	{% block siteheader %}
	<header class="site-header" role="banner">
			{% include "headers/header-site.twig" %}
	</header>
	{% endblock %}
	
	<div id="panel">
		<main class="site-main">
			{% block hero %}
			{% endblock %}

			<div id="site-content">

				<div class="main-content">
					{% block content %}
						Sorry, no content.
					{% endblock %}
				</div>

				{# Sidebar #}

			</div>

			{% block misc %}
				{% include "/blocks/block-education-drip.twig" %}
				{% include "/blocks/block-newsletter.twig" %}
			{% endblock %}
		</main>

		<footer class="site-footer">
			{% block footer %}
				{% include "footer.twig" %}
			{% endblock %}
		</footer>
	</div>

	<div id="menu">
		<div class="header">
			<h3>Menu</h3>
		</div>
		{% include "nav/primary-menu.twig" with { main_menu: main_menu.items } %}
	</div>
	
	<a id="back-to-top" href="#top">
		<i class="fa fa-arrow-up"></i>
	</a>

	{{ block('footer_scripts') }}
	{{ function('wp_footer') }}

</body>
</html>
